---
const navigationList = [
  { url: "/", title: "ホーム" },
  { url: "/about", title: "概要" },
  { url: "/blog", title: "ブログ" },
];
---

<div class="nav-links">
  {navigationList.map((navItem) => <a href={navItem.url}>{navItem.title}</a>)}
</div>
